<div class="carbon">
  <app-chart
    [data]="chartData"
    [axisLabels]="axisLabels"
    [chartSettings]="chartSettings"
    [targetSettings]="targetSettings"
    [valueAxis]="valueAxis"
  ></app-chart>
  <div class="expans" id="expand">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Edit Data </mat-panel-title>
        </mat-expansion-panel-header>
        <app-chart-data
          [dataSource]="chartData"
          (addItem)="onAddChartDataItem($event)"
          (deleteItem)="onDeleteChartDataItem($event)"
          (editItem)="onEditChartDataItem($event)"
          (currentBulletChanged)="currentBulletChanged($event)"
          (targetBulletChanged)="targetBulletChanged($event)"
        ></app-chart-data>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Edit Axis Labels </mat-panel-title>
        </mat-expansion-panel-header>
        <app-axis-label-form
          [axisLabels]="axisLabels"
          (addItem)="onAddAxisLabelItem($event)"
          (deleteItem)="onDeleteAxisLabelItem($event)"
          (editItem)="onEditAxisLabelItem($event)"
        ></app-axis-label-form>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Edit Target Bullet </mat-panel-title>
        </mat-expansion-panel-header>
        <app-target-settings
          [targetSettings]="targetSettings"
          (settingChanged)="targetSettings = $event"
        ></app-target-settings>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Edit Chart Settings </mat-panel-title>
        </mat-expansion-panel-header>
        <app-chart-settings
          [chartSettings]="chartSettings"
          (settingChanged)="chartSettings = $event"
        ></app-chart-settings>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Edit Value Axis Settings </mat-panel-title>
        </mat-expansion-panel-header>
        <app-value-axis-settings
          [valueAxis]="valueAxis"
          (settingChanged)="valueAxis = $event"
        ></app-value-axis-settings>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
